@model CategoryModel

<h1 class="h3">Edit Category</h1>
<hr>

<div class="row" style="margin-top: 20px">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="CategoryEdit" method="POST">
            <input type="hidden" name="CategoryId" value="@Model.CategoryId">
            <div class="mb-3">h
                <label asp-for="Name" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Name">
            </div>

            <div class="mb-3">
                <label asp-for="Url" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Url">
                <div id="urlHelper" class="form-text">Lorem ipsum dolor sit amet.</div>
            </div>

            <button type="submit" class="btn btn-primary" value="Save Category">Save Category</button>
        </form>
    </div>
   
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary btn-sm" href="/admin/addcategorytoproduct/@Model.CategoryId" style="margin-bottom: 15px">Add Product to @Model.Name</a>
                <table class="table table-bordered">
                    <thead>
                    <tr style="text-align: center">
                        <td>ID</td>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Verified</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Products.Count > 0)
                    {
                    @foreach (var item in Model.Products)
                    {
                    <tr>
                        <td style="width: 20px; text-align: center; align-content: center">@item.ProductID</td>
                        <td style="width: 20px; height: 150px; text-align: center; align-content: center">
                            <img src="~/images/@item.ImageUrl" alt="itemImage" width="80">
                        </td>
                        <td style="width: 150px; text-align: center; align-content: center">@item.Name</td>
                        <td style="width: 80px; text-align: center; align-content: center">
                            @if (item.IsApproved)
                            {
                            <i class="fas fa-check-circle" style="color: green;"></i>
                            }
                            else
                            {
                            <i class="fas fa-times-circle" style="color: red;"></i>
                            }
                        </td>
                        <td style="width: 70px; text-align: center; align-content: center">
                            <a href="/admin/products/@item.ProductID" class="btn btn-primary btn-sm m-lg-3">Edit</a>

                            <form action="/admin/deletefromcategory" method="POST" style="display: inline">
                                <input type="hidden" name="productId" value="@item.ProductID">
                                <input type="hidden" name="categoryId" value="@Model.CategoryId">
                                <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
                            </form>
                        </td>
                    </tr>
                    }
                    }
                    else
                    {
                    <div class=" alert alert warning">
                        <h3>No Products</h3>
                    </div>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>